.box{
    width:92%;
    margin:0 auto;
}
.box .img_box{
    float:left;
    width:44%;
    height:30vw;
    margin:0 3% 3%;
    position:relative;
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }

